<h1><%= @restaurant.name %></h1>
<h4 class="text-gray">We are serving delicious <%= @restaurant.category.capitalize %> cuisine all year long</h4>

<hr>

<h4>Contact</h4>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>

<hr>

<h4>Reviews</h4>
<ul>
  <% @restaurant.reviews.each do |review| %>
    <li>
      <p>Rating <%= review.rating %></p>
      <p><%= review.content %></p>
    </li>
  <% end %>
</ul>
